<h1>Live Blood Stock Levels <small>Updated at 7:30pm</small></h1>
<div ng-app="bloodApp">
  <div ng-controller="bloodController">
    <div ng-controller="walesController">
      <h2>Welsh Blood Service</h2>
      <div class="progress" ng-repeat="result in results">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{result.days_remaining}}" aria-valuemin="0" aria-valuemax="30" style="width: {{result.days_remaining / 30 * 100}}%;">
          {{(bloodTypeForID(result.blood_type_id)).name}} ({{result.days_remaining}} days)
        </div>
      </div>
    </div>

    <div ng-controller="scotlandController">
      <h2>Scottish Blood Service</h2>
      <div class="progress" ng-repeat="result in results">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{result.days_remaining}}" aria-valuemin="0" aria-valuemax="30" style="width: {{result.days_remaining / 30 * 100}}%;">
          {{(bloodTypeForID(result.blood_type_id)).name}} ({{result.days_remaining}} days)
        </div>
      </div>
    </div>
  </div>
</div>

<h2>API - Get this data.</h2>
<p><a href="http://openbloodstocks.herokuapp.com/blood_types">[GET] /blood_types</a> (JSON list of supported blood types)</p>
<p><a href="http://openbloodstocks.herokuapp.com/records?authority=welshbloodservice">[GET] /records?authority=AUTHORITY_NAME</a> (JSON list of number of days of blood available)</p>

<p>Currently supported authorities: <i>welshbloodservice</i></p>

<h2>Contribute!</h2>
Please visit our <a href="https://github.com/maxehmookau/BloodStocks">GitHub</a> to contribute data scrapers for your local blood bank.


<p>This service is for information only and is not affilliated with any of the mentioned blood donation authorities.</p>
<p>Made with <span class="glyphicon glyphicon-heart"></span> by <a href="http://maxehmookau.github.com">Max Woolf</a>